* {
  box-sizing: border-box; }

body {
  background: #444;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bgimage.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(68, 68, 68, 0.9);
      z-index: -1; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-title,
  h2.lg-title,
  h3.lg-title {
    font-size: 5rem; }
  h1.sm-title,
  h2.sm-title,
  h3.sm-title {
    margin-bottom: 2rem; }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.title-sec {
  color: #06BC9B; }

main {
  padding: 4em;
  min-height: calc(100vh - 40px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #06BC9B;
        transition: all 0.3s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 10vh; }

.hamburger-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  .hamburger-btn .hamburger-line {
    width: 30px;
    height: 3px;
    margin: 0;
    margin-bottom: 5px;
    background: white;
    transition: all 0.3s ease-out; }
  .hamburger-btn.close {
    transform: rotate(180deg); }
    .hamburger-btn.close .hamburger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .hamburger-btn.close .hamburger-line:nth-child(2) {
      opacity: 0; }
    .hamburger-btn.close .hamburger-line:nth-child(3) {
      transform: rotate(135deg) translate(-6px, 6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-pic, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(55, 55, 55, 0.9);
    list-style: none;
    transform: translate3d(0, 100%, 0);
    transition: all 0.3s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
    .menu-nav .nav-item {
      transform: translate3d(600px, 0, 0);
      transition: all 0.3s ease-out; }
      .menu-nav .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu-nav .nav-item-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: white;
        transition: all 0.3s ease-out; }
        .menu-nav .nav-item-link:hover {
          color: #06BC9B; }
      .menu-nav .nav-item.current > a {
        color: #06BC9B; }
  .menu-pic {
    margin: 0;
    padding: 0;
    background: rgba(68, 68, 68, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.3s ease-out; }
    .menu-pic.show {
      transform: translate3d(0, 0, 0); }
    .menu-pic .bio-image {
      background: url(../img/me.jpg);
      border: 3px solid #06BC9B;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      background-size: cover; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    background: url(../img/me.jpg);
    border: 3px solid #06BC9B;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover; }
  .about-info .bio {
    grid-area: bio; }
    .about-info .bio .first {
      font-size: 1.2rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .special-tag {
    font-weight: bold;
    color: #06BC9B; }

#main-footer {
  text-align: center;
  padding: 0.5rem;
  background: #2b2b2b;
  color: white;
  height: 40px; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem; }
  .projects img {
    width: 100%;
    border: 3px solid white; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #06BC9B;
      transition: all 0.3s ease-out; }

.btn, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0; }
  .btn:hover, .btn-dark:hover {
    background: #06BC9B;
    color: white; }

.btn-dark {
  background: black;
  color: white; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-title {
      line-height: 1;
      margin-bottom: 1rem; }
  .menu-pic, .menu-nav {
    width: 100%;
    float: none;
    min-height: 0; }
    .menu-pic.show, .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }
    .menu-nav .nav-item-link {
      font-size: 24px; }
  .menu-pic {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-pic .bio-image {
      height: 100px;
      width: 100px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; } }
