html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.p-blue {
  color: #6C63FF;
}

.s-blue {
  color: #00ffff;
}

.p-pink {
  color: #C74FC3;
}

.content {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
}

section {
  padding: 0 150px;
  height: 100vh;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
}

@media only screen and (max-width: 770px) and (min-width: 501px) {
  section {
    padding: 0 50px;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 500px) {
  section {
    padding: 0 30px;
    padding-top: 100px;
  }
}

.header {
  height: 50px;
  padding: 20px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.07);
          box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.07);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-container .logo-name {
  color: #3f3d56;
  font-family: 'Megrim', cursive;
  font-weight: bold;
  font-size: 40px;
}

.header .logo-container .line {
  width: 83px;
  height: 2px;
  background: cyan;
  -webkit-transform: translate(-85px, 20px);
          transform: translate(-85px, 20px);
}

.header .expander {
  height: 50px;
  width: 50px;
  background: #e4e2ff;
  -webkit-box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.15);
          box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.15);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  z-index: 5;
  cursor: pointer;
}

.header .expander .line {
  height: 5px;
  width: 30px;
  background: #3f3d56;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header .expander .line-1 {
  -webkit-transform: translate(10px, 17px);
          transform: translate(10px, 17px);
}

.header .expander .line-2 {
  -webkit-transform: translate(10px, 25px);
          transform: translate(10px, 25px);
}

.header .expander:hover {
  background: #f1f0ff;
}

.header .expander.expanded .line-1 {
  -webkit-transform: translate(10px, 23px) rotate(45deg);
          transform: translate(10px, 23px) rotate(45deg);
}

.header .expander.expanded .line-2 {
  -webkit-transform: translate(10px, 18px) rotateZ(135deg);
          transform: translate(10px, 18px) rotateZ(135deg);
}

.header .side-menu {
  position: fixed;
  width: 380px;
  right: 0;
  height: 0;
  top: 0;
  background: #e4e2ff;
  opacity: 0;
  overflow: hidden;
}

.header .side-menu ul {
  padding: 200px 30px;
}

.header .side-menu ul li {
  margin-bottom: 20px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header .side-menu ul li a {
  font-size: 40px;
  font-weight: bold;
  color: #3f3d56;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header .side-menu ul li::before {
  content: ' ';
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 12px;
  -webkit-transform: rotateZ(45deg) translate(-10px, 5px);
          transform: rotateZ(45deg) translate(-10px, 5px);
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.header .side-menu ul li:hover a {
  color: #6C63FF;
}

.header .side-menu ul li:hover::before {
  -webkit-transform: rotateZ(45deg) translate(1px, -7px);
          transform: rotateZ(45deg) translate(1px, -7px);
}

.header.full-height {
  height: 100%;
}

.header.full-height .side-menu {
  height: 100%;
  opacity: 1;
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 10px 20px;
    height: 30px;
  }
  .header .logo-container .logo-name {
    font-size: 28px;
  }
  .header .logo-container .line {
    width: 60px;
    -webkit-transform: translate(-60px, 15px);
            transform: translate(-60px, 15px);
  }
  .header .expander {
    height: 30px;
    width: 30px;
  }
  .header .expander .line {
    height: 3px;
    width: 18px;
  }
  .header .expander .line-1 {
    -webkit-transform: translate(6px, 8px);
            transform: translate(6px, 8px);
  }
  .header .expander .line-2 {
    -webkit-transform: translate(6px, 15px);
            transform: translate(6px, 15px);
  }
  .header .expander.expanded .line-1 {
    -webkit-transform: translate(6px, 14px) rotate(45deg);
            transform: translate(6px, 14px) rotate(45deg);
  }
  .header .expander.expanded .line-2 {
    -webkit-transform: translate(6px, 11px) rotateZ(135deg);
            transform: translate(6px, 11px) rotateZ(135deg);
  }
  .header .side-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) and (min-width: 501px) {
  .header {
    padding: 10px 20px;
  }
}

.main .left {
  width: 50%;
  font-weight: bold;
  -webkit-transform: translateY(110px);
          transform: translateY(110px);
}

.main .left .name {
  font-size: 60px;
}

.main .left .title {
  font-size: 30px;
  color: #3f3d56;
  margin-top: 20px;
}

.main .left .icons {
  margin-top: 30px;
}

.main .left .icons a {
  color: #3f3d56;
  text-decoration: none;
  padding: 0.3rem;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.main .left .icons a:hover {
  color: #6C63FF;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main .parallax {
  width: 50%;
  max-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-image: url(../img/sitting.svg), url(../img/table.svg), url(../img/bg.svg);
}

.main .me-image {
  display: none;
}

@media only screen and (max-width: 500px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
  }
  .main .left {
    width: 100%;
    text-align: center;
  }
  .main .left .title {
    font-size: 25px;
  }
  .main .parallax {
    display: none;
  }
  .main .me-image {
    display: block;
    border-radius: 50%;
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
    border: 2px solid #6c63ff;
    -webkit-box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.7);
            box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.7);
  }
}

.contact .left,
.about .left {
  width: 50%;
}

.contact .left .title,
.about .left .title {
  font-size: 30px;
  font-weight: bold;
}

.contact .left .desc,
.about .left .desc {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 60px;
}

.contact .left .desc-2,
.about .left .desc-2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

.contact .left ul,
.about .left ul {
  margin-top: 24px;
}

.contact .left li,
.about .left li {
  color: #6C63FF;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.contact .left li::before,
.about .left li::before {
  content: ' ';
  background: #00ffff;
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 12px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.contact .right,
.about .right {
  width: 50%;
  padding-top: 75px;
}

.contact .right .image-container,
.about .right .image-container {
  cursor: pointer;
}

.contact .right .image-container img,
.about .right .image-container img {
  width: 350px;
  display: block;
  margin: auto;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  border: 2px solid #e4e2ff;
  padding: 10px;
}

.contact .right .image-container:hover img,
.about .right .image-container:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .contact .left,
  .about .left {
    width: 100%;
  }
  .contact .left .title,
  .about .left .title {
    font-size: 20px;
  }
  .contact .right,
  .about .right {
    display: none;
  }
}

.brands .left {
  width: 50%;
}

.brands .left .title {
  font-size: 30px;
  font-weight: bold;
}

.brands .left .logos {
  margin-top: 100px;
}

.brands .left .logos ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.brands .left .logos li {
  margin-bottom: 15px;
}

.brands .left .logos li img {
  cursor: pointer;
  max-height: 100px;
  background: white;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.1);
          box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.1);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.brands .left .logos li img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.3);
          box-shadow: 8px 8px 40px 1px rgba(96, 96, 116, 0.3);
}

.brands .divider {
  opacity: 0.3;
  position: relative;
  padding-top: 50px;
}

.brands .divider .vertical {
  background: #3f3d56;
  height: 60%;
  width: 1px;
}

.brands .divider .arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30%;
  border: 1px solid #3f3d56;
  -webkit-transform: rotate(45deg) translateY(21px);
          transform: rotate(45deg) translateY(21px);
  background: white;
  border-left: 1px spo;
  border-left: none;
  border-bottom: navajowhite;
}

.brands .right {
  width: 49%;
  padding: 50px;
}

.brands .right .title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.brands .right .desc {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.brands .right .task {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 30px;
}

.brands .right a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brands .left {
    width: 100%;
  }
  .brands .left .title {
    font-size: 20px;
  }
  .brands .left .logos {
    margin-top: 30px;
  }
  .brands .left .logos ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .brands .left .logos li {
    margin-bottom: 10px;
  }
  .brands .left .logos li img {
    max-height: 60px;
  }
  .brands .right {
    padding: 0;
    width: 100%;
  }
  .brands .right .title {
    font-size: 30px;
  }
  .brands .divider {
    display: none;
  }
}

.contact {
  height: 90vh;
}

.contact .details {
  position: relative;
}

.contact .title {
  font-size: 30px;
  font-weight: bold;
}

.contact .desc {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 60px;
}

.contact .desc a {
  text-decoration: none;
}

.contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.contact .icons a {
  color: #3f3d56;
  text-decoration: none;
  padding: 20px;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.contact .icons a:hover {
  color: #6C63FF;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .icons a i {
  font-size: 70px;
}

.contact footer {
  text-align: center;
  bottom: 100px;
  position: absolute;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 500px) {
  .contact .title {
    font-size: 20px;
  }
  .contact .desc {
    margin-top: 20px;
    font-size: 20px;
  }
  .contact .icons {
    margin-top: 60px;
  }
  .contact .icons a i {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */